html{
  width: 100%;
  height: 100vh;
  background: #1d1f20;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  font-family: Helvetica Neue, Helvetica , Arial, sans-serif;
  font-weight: 100;
  font-size: 368px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 5s infinite linear;
}
@-webkit-keyframes hue{
  from{
    -webkit-filter: hue-rotate(0deg);
  }
  to{
    -webkit-filter: hue-rotate(-360deg);
  }
}